.mainHomePageBlog {
    padding: 10px 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: auto;
}

.mainHomePageBlog h3 {
    font-size: 50px;
    text-align: center;
    color: rgba(76, 76, 76);
    font-weight: 400;
    letter-spacing: 9px;
    margin-top: 5rem;
    font-family: "Montserrat", sans-serif;
    /* Add this line */
}

.mainHomePageBlog p {
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-size: 19px;
    margin: 3px 0;
}

.mainHomePageBlog h4 {
    font-size: 34px;
    font-weight: 350;
    color: rgb(76, 76, 76);
    letter-spacing: 5px;
    font-weight: 400;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
}

.mainHomePageBlog img {
    margin-top: 17px;
    margin-bottom: 22px;
    width: 350px;
    height: 530px;
    transition: opacity 0.3s ease;

}

.mainHomePageBlog img:hover {
    opacity: 0.7;

}

.mainHomePageBlog h5 {
    font-family: "Montserrat", sans-serif;
    color: rgb(76, 76, 76);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;

}

.mainHomePageBlog article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
}

.mainHomePageBlog article article {
    font-size: 22px;
    font-weight: 700;
    color: rgb(76, 76, 76);
    letter-spacing: 4px;
    margin: 2px;
    font-family: "Montserrat", sans-serif;
}

.mainHomePageBlog article h5 {
    color: rgb(238, 75, 43);
    font-weight: bold;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.mainHomePageBlog h6 {
    color: rgb(99, 99, 99);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.mainHomePageBlog article h6 a {
    color: #1677aa;
    cursor: pointer;
}



.mainHomePageBlog article p {
    font-size: 22px;
    color: gray;
    margin-top: 4px;
    font-weight: lighter;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {

    /* Tablet */
    .mainHomePageBlog {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainHomePageBlog h3 {
        font-size: 40px;
        letter-spacing: 5px;
        margin-top: 10px;
    }

    .mainHomePageBlog p {
        font-size: 16px;
        line-height: 20px;
    }

    .mainHomePageBlog h4 {
        font-size: 30px;
    }

    .mainHomePageBlog img {
        width: 300px;
        height: 450px;
    }

    .mainHomePageBlog h5 {
        font-size: 24px;
    }

    .mainHomePageBlog article article {
        font-size: 20px;
    }

    .mainHomePageBlog article h5 {
        font-size: 15px;
    }

    .mainHomePageBlog article p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    /* Mobile */
    .mainHomePageBlog {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainHomePageBlog h3 {
        font-size: 40px;
        margin-top: 4rem;

        font-weight: 400;
        line-height: 47px;
        width: 70%;
        letter-spacing: 8px;
        margin-bottom: 15px;
        color: #4c4c4c;

    }

    .mainHomePageBlog p {
        font-size: 18px;
        line-height: 22px;
     
            font-family: "Open Sans", sans-serif;
            margin-bottom: 3px;
    }

    .mainHomePageBlog h4 {
        font-size: 24px;
    }

    .mainHomePageBlog img {
        width: 96%;
        height: 100%;
    }

    .mainHomePageBlog h5 {
        font-size: 20px;
        text-align: start;

    }

    .mainHomePageBlog article article {
        font-size: 18px;

    }

    .mainHomePageBlog article h5 {
        font-size: 18px;
        font-weight: 700;
    }



    .mainHomePageBlog article p {
        font-size: 16px;
    }
}

/* This class already exists */
