.lowerBoxRightSide {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lowerBoxRightSide p {
   
    color: gray;
    margin: 2px 0;
}

.lowerBoxRightSide h3 {
    text-align: start;
    font-size: 28px;
    font-weight: 400;
    color: rgb(76, 76, 76);
    margin-top: 1rem;
    letter-spacing: 7px;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
   

    .lowerBoxRightSide h3 {
        font-size: 32px;
        letter-spacing: 5px;
    }
}

@media (max-width: 768px) {
  

    .lowerBoxRightSide h3 {
        font-size: 28px;
        letter-spacing: 4px;
    }
}